/*

display inline:acomoda los elementos en linea
display block:acomoda los elementos en lista
display  inline-blok:combina los los display
display flex ,gred;mas modermo

los estilos inline pesan mas que los estilos insertasdos por etiquetas styles y las eltiquetas styles y link 
primero tomara la que este primero y sera pisada si es que hay otra igual

 reglas :
selectores: como indentificar elementos html
declaraciones:todo lo que hacemos con ese selector
propiedades:propiedas particulares q podemos hacer con los elementos
valores:cosas q se esperaran recibir como variables las propiedas para actuar de forma correcta
 */

 /* una regla es todo esto */
/*header, header  es un selector, {*/
 /* el bloque de codigo es una declaracion,backgroun(color de fondo) es una propiedad, green es un valor  */
 /* green es una palabre clave para representar colores */
 /* background: green; */
/* } */
/* selector de etiqueta  header-section-article-nav*/
/* selector descendente ->body->div->nav->ol->li->a */
/* selector de clase(una clase es un atributo adentro html
 estas clases pueden ser atrinutis de distintas etiquetas)
 selectoir de  id(los elementos id son unicos dentro del webside se los llama con un nuemral (#) */
/* el selector de clase se identifica con un  punto(.) */

/* reglas
selectores
declaraciones
propiedades
valores */


/* seletor de etiqueta  header - section - article - nav */
/* header {
  background: pink; color de fondo
  color: red color de texto
} */

/* selector descendente  */
/* body header div nav ol li a  */

/* selector de clase . */

/* .link */

/* selector de id # */
/* #portafolio */



/* gris oscuro = #1d252c */
/* gris claro = #626262 */
/* background gris = #1b2127 */
/* celeste = #026fff */

body {
  /* fuente todo se heredara a sus hijos */
    font-family: 'Source Sans Pro', sans-serif;
    margin:0;
  }
  
  h1, 
  h2,
  h3,
  h4,
  h5,
  h6{
    font-family: 'Fjalla One', sans-serif;
    /* peso de fuente desde 400( palabra clave normal)a 900 */
    font-weight: normal;
    /* font-style: italic;  stylos de fuentes*/
  }
  
  h1 {
    /* tamaño de fuente */
    font-size: 40px;
    /* alto de linea del h1 */
    line-height: 1.5; 
    /* separecion de letras */
    letter-spacing: -.2px;
    /*  */
    color: white;
    /* todos los margenes: top, right, botton, left */
    margin: 0;
    /* margin: 100px 150px 70px 30px; */
    /* text-transform: uppercase; tranformar letras*/
    /* text-decoration: dashed;  decorar texto (underline-subrallado)*/
  }
  /* color para las palabras en strong */
  h1 strong {
    color: #026fff;
  }
  h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
  }
  /* asignando tamaño fijo al area del hero */
  .hero {
    height: 300px;
    /* background-image: url('../images/hero.jpg'); */
    background-color: #1b2127;
    /* background-size: 500px 300px; tamaño a la imagen*/
    /* background-repeat: no-repeat;  para que no se repitan las imagenes*/
    /* background-position-x: right; colocar al lado derecho*/
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
  
  .hero-image{
    /* arreglas las dimensiones originales de una imagen */
    object-fit: cover;
  }
  
  
  .portfolio {
    background: #fafafa;
    padding: 20px;
    /* background: red; */
  }
  
  .project {
    /* border-top: 10px solid red; borde en la parte superior
    border-right: 10px solid green borde derecho;
    border-left: 10px solid orange borde izquierdo;
    border-bottom: 10px solid pink; * borde inferior/
    /* color: blue;  */
    /* border-top-color: red borde completo;
    border-top-width: 15px ancho;
    border-top-style: solid;  estilo*/
    /* border: me coloca un border completo al navegador */
    border: 1px solid gray;
    /* borde rendondeado */
    border-radius: 10px;

    /* border-top-left-radius: 50px borde superior izquierda;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    /* margin: 10px; */

    margin-bottom: 15px;
    /* margin-right
    margin-left 
    margin-top */
    /* padding para todos los lados(relleno) */
    padding: 20px;
    background: #1b2127;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .project-course,
  .project-date,
  .project-url {
    margin: 10px 0;
  }
  .project-description {
    font-size: 20px;
  }
  .project strong {
    font-family: 'Fjalla One', sans-serif;
  }
  /* .project-date {
    margin: 10px 0;
  } */
  
  .project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  /* le asignamos un tamaño al div de 500 px */
  .project-details {
    width: 500px;
  }
  
  /* le asignamos un tamaño a la imagen de 500 px */
  .project-imageContainer {
    width: 500px;
  }
  
  .header {
    background-color: #1b2127;
    color: white;
    /*  */
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
  }
  
  ol,
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  figure {
    margin: 0;
  }
  /* aplicando estilos a los enlaces */
  .header a {
    color: white;
    /* sacando las decoraciones */
    text-decoration: none;
  }
  .menu {
    /* inherit heredado */
    height: inherit;
  }
  .header ol {
    display: flex;
    height: inherit;
  }
  .header ol li {
    height: inherit;
  }
  .header a {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
  }
  
  .flexbox {
    display: flex;
    /* flex-wrap: nowrap; */
    /*flex-wrap: wrap acomoda las cajas correctamente */
    flex-wrap: wrap;
    /* flex-direction: column; */
  }
  
  .box {
    width: 50px;
    height: 50px;
    /* margen entre cajas */
    margin: 5px;
    border: 1px solid red;
  /* para que no se modifique los hijos */
    flex-shrink: 0;
  }
  
  .footer {
    color: white;
    background-color: #1b2127;
    display: flex;
    /* centrar elementos */
    align-items: center;
    /* acomoda todas las cajas ,tambien espacio entre elementos */
    justify-content: space-between;
  }
  
  .footer img {
    vertical-align: middle;
    height: 50px;
  }
  
  .footer a {
    color: white;
  }
  
  .event-list {
    display: flex;
    flex-wrap: wrap;
  }
  .event-list-title {
    margin-left: 20px;
  }
  .event { 
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    /* genera scrolls */
    overflow: hidden;
    background: #f4fbff;
  }
  .event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
  }
  .event-detail {
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    /* poner el elemento arriba de otro */
    position: relative;
    padding: 20px;
    text-align: center;
  }
  .event-description {
    text-align: left;
  }
  
  .event-url {
    color: #056fff;
    border: 1px solid;
    padding: 5px 20px;
    /* saca el subrayado */
    text-decoration: none;
    border-radius: 5px;
  }
  
  .contact {
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
 .social{
   /* border:1px solid red; */
 }
  
  .social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
  }
  
  .social-link.twitter {
    background-image: url('../images/twitter.svg');
  }
  .social-link.facebook {
    background-image: url('../images/facebook.svg');
  }
  .social-link.github {
    background-image: url('../images/github.svg');
  }
  .social-link.instagram {
    background-image: url('../images/instagram.svg');
  }
  
  
  .form-email input {
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url('../images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
  }
  
  .form-email button {
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
  }
  
  .form-email h3 { 
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .container {
    /* border: 1px solid red; */
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
  }